.grid img {
  background-color: rgba(0, 0, 0, 0.9);
  width: 150px;
  height: 150px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100rem;
  margin-bottom: 0 !important;
}

.grid ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  list-style-type: none;
  padding-inline-start: 0;
}
.grid li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 150px;
  text-align: center;
  margin-bottom: 1rem;
}

.sz-medium {
  width: 150px;
  height: 150px;
}

span img {
  width: 75px;
  margin-top: -100px;
  float: right;
  padding-left: 1rem;
}

.subfooter {
  margin-top: 5rem !important;
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
  background-color: var(--sl-color-gray-7);
a {
  padding: 1rem;
  text-decoration: none;
  color: var(--sl-color-text);
}
}

@media (max-width: 600px) {
  .grid img {
    width: 75px;
    height: 75px;
    padding: 0.5rem;
  }

  .grid ul {
    gap: 10px;
  }

  .grid li {
    width: 75px;
    margin-bottom: 0.5rem;
    font-size: small;
  }
}
