:root {
  --sl-color-text-accent: #f57c00 !important;
  --sl-hue-purple: 391 !important;
  --sl-hue-blue: 401 !important;
}
/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/poppins-v22-latin-regular.woff2") format("woff2");
}
/* poppins-600 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/poppins-v22-latin-600.woff2") format("woff2");
}
/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/poppins-v22-latin-700.woff2") format("woff2");
}

@font-face {
  font-family: "Quicksand";
  src: url("../assets/quicksant.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("../assets/quicksant.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 h2 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
}

h4 {
  text-align: center;
}

.hr {
  background-color: var(--sl-color-gray-7);
  width: 100%;
  padding: 2rem;
  border-radius: 25px;
}

@media (prefers-color-scheme: dark) {
  .hr {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

lite-youtube {
  width: 100%;
  max-width: 100% !important;
  border-radius: 10px;
}
